body{
  margin-left : 50px;
}
section{
  margin-bottom: 10px;
}
.stats, .bugname{
  font-size: 18pt;
}
.closed{
  color :red;
  text-decoration: line-through;
  font-style: italic;
  font-weight: bold;
}
.bugname{
  cursor : pointer;
}
ol{
  width : 450px;
  list-style: none;
  -webkit-padding-start: 0px;
}
li{
  padding : 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border : 1px solid gray;
  background-color: #e7e7e7;
}